/* Establecer el color de fondo personalizado para el ion-toolbar */
  
@font-face {
  font-family: 'Chin';
  src: url('../../assets/letras/KGRedHands.ttf') format('truetype');
}

@font-face {
  font-family: 'Letrero';
  src: url('../../assets/letras/LTSaeada-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'texto';
  src: url('../../assets/letras/Classica-Book.ttf') format('truetype');
}

.custom-toolbar {
  --background: #D5F0C1;
  --color: #616F39;
  font-family:Chin;
  text-align: center;
}
ion-toggle{
  font-size: 24px;
  margin: 0%;
  font-family:texto;
}

ion-content  {
  --background: #FFFFFF;
  margin: 0%;
}

ion-card {
  --background: #eef9e6;
}

ion-item{
  margin: 0%;
  --padding-start: 0;
  --background: #eef9e6;
  color: #616F39;
  font-size: 30px;
  align-items: center; /* Centra verticalmente */
  font-size: 5vh;
  font-size: 4vw;
}
img{
  width: 25%;
  margin: 2%;
  border-radius: 20%;
  opacity: 0.4;
}

h1{
  color: #A7D129;
  font-family:Letrero;
  margin: 0%;
  text-align: center;
}



@media screen and (min-width: 500px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(50% - 10px); /* Establece el ancho de cada card al 50% del contenedor, menos el espacio entre ellos */
    margin-bottom: 20px; /* Agrega un margen inferior para separar los cards */
  }
}
