/* Establecer el color de fondo personalizado para el ion-toolbar */
  
ion-label{
  font-size: 50px;
  display: flex; /* Utiliza Flexbox para alinear verticalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0%;
}

.final {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

img.hidroponico {
  width: 100%;
  max-width: 100%;
  margin: auto;
  opacity: 0.7;
  box-shadow: 0 0 20px rgba(48, 250, 72, 0.784);
}

p.hidroguard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.704);
  font-weight: bold;
  font-size: 2em; /* Tamaño de fuente relativo */
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 255, 0, 0.692);
}


.custom-toolbar {
  --background: #A4BE7B;
  --color: #576442;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
ion-toggle{
  font-size: 5vh;
  font-size: 4vw;
  margin: 0%;
}

ion-content  {
  --background: #fffefd;
  margin: 0%;
}
ion-col {
  background-color: #D6E5D4;
  margin: 0%;
  color: #36662A;
  text-align: center;
  font-size: 30px;
}

ion-item{
  margin: 0%;
  --background: #EBF3E8;
  color: #7a855b;
  font-size: 30px;
  display: flex; /* Utiliza Flexbox para alinear verticalmente */
  align-items: center; /* Centra verticalmente */
  font-size: 5vh;
  font-size: 4vw;
}
img{
  width: 10%;
  margin: 0%;
}

h1{
  color: #50623A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0%;
}

/* Media Queries para hacerlo responsive */
@media screen and (min-width: 500px) {
  ion-card {
    flex-direction: row; /* Cambia la dirección de flexión a fila en pantallas más grandes */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  p.hidroguard {
    font-size: 5em; /* Aumenta el tamaño de fuente en pantallas más grandes */
  }
}
