/* Establecer el color de fondo personalizado para el ion-toolbar */
.custom-toolbar {
  --background: #A4BE7B;
  --color: #576442;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
ion-select {
  --background: #C8DBBE;
}
ion-content  {
  --background: #fffefd;
}
ion-col {
  background-color: #D6E5D4;
  margin: 0%;
  color: #36662A;
  text-align: center;
}
ion-card {
  --background: #C8DBBE;
  --color: #46647a;
  width: 90%; /* Establece el ancho del card al 90% del ancho de la pantalla */
  margin: auto; /* Centra el card horizontalmente */
}
ion-card-title {
  --color: #6E7C7C;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  color: #36662A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  color: #36662A;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img{ 
  height: 100%; /* Esto hará que la imagen ocupe el 100% del tamaño del card */
  width: 100%; /* Esto hará que la imagen ocupe el 100% del tamaño del card */
  object-fit: cover;
}
ion-select{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}
ion-list{
  --background: #99a793;
 // --color: #46647a;
}

ion-item{
  --background: #d9e5d3;
 // --color: #46647a;
}
ion-text{
  color: #3b5364;
}