<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      Cultivos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-align-items-center ion-justify-content-center ion-text-center">
          <ion-card-header>
            <ion-card-title>Informacion</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/0d/2b/cb/0d2bcb190d90c42002cac4222612a074.jpg" />
          <ion-card-content>
            <ion-text>Cultivo1</ion-text>
            <br>
            <ion-select placeholder="Selecciona" (ionChange)="onEtapaChange($event.target.value)">
              <div slot="label"> <ion-text>Etapa:</ion-text></div>
              <ion-select-option value="brote">Brote</ion-select-option>
              <ion-select-option value="floracion">Floracion</ion-select-option>
              <ion-select-option value="frutificacion">Frutificacion</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-align-items-center ion-justify-content-center ion-text-center">
          <ion-card-header>
            <ion-card-title>Informacion</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/236x/30/7f/43/307f43d9e46c3ab1c4457f6f43291e96.jpg" />
          <ion-card-content>
            <ion-text>Cultivo2</ion-text>
            <br>
            <ion-select placeholder="Selecciona" (ionChange)="onEtapaChange2($event.target.value)">
              <div slot="label"> <ion-text>Etapa:</ion-text></div>
              <ion-select-option value="brote">Brote</ion-select-option>
              <ion-select-option value="floracion">Floracion</ion-select-option>
              <ion-select-option value="frutificacion">Frutificacion</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

  <ion-item [button]="true" detail="false">
    <div class="unread-indicator-wrapper" slot="start"></div>
    <ion-label>
      <ion-text>Cultivos</ion-text><br />
      <ion-note color="medium" class="ion-text-wrap">Estos cultivos solo permiten
        plantas de hoja verde como perejil, lechugam excepto la lechuga repollo por su peso, apio, etc.
      </ion-note>
    </ion-label>
  </ion-item>

  <ion-item [button]="true" detail="false">
    <div class="unread-indicator-wrapper" slot="start"></div>
    <ion-label>
      <ion-text>Niveles de Ph</ion-text><br />
      <ion-note color="medium" class="ion-text-wrap">Para el hidroponico el nivel de ph en el que se deberia de estar
        equivale entre el 6 a 7.
      </ion-note>
      <img alt="Silhouette of mountains" src="https://tecnicrop.com/storage/blogs/60/STo840E1jKARCptrgAmxUPy6SOTFQs5whJRxWATG.png" />

    </ion-label>
  </ion-item>

</ion-content>
