/* Establecer el color de fondo personalizado para el ion-toolbar */
.custom-toolbar {
  --background: #A4BE7B;
  --color: #576442;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
ion-select {
  --background: #C8DBBE;
}
ion-content  {
  --background: #F7FFF7;
}
ion-col {
  background-color: #D6E5D4;
  margin: 0%;
  color: #36662A;
  text-align: center;
}
ion-card {
  --background: #C8DBBE;
  --color: #46647a;
  width: 90%; /* Establece el ancho del card al 90% del ancho de la pantalla */
  margin: auto; /* Centra el card horizontalmente */
}
ion-card-title {
  --color: #6E7C7C;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  color: #36662A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  color: #36662A;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img{ 
  height: auto; /* Esto hará que la imagen se ajuste automáticamente al tamaño del card */
  max-width: 100%; /* Esto hará que la imagen se ajuste automáticamente al tamaño del card */
}
